body{
    margin: 0;
}


/* adContainer */
.adContainer{
    /* border:  2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(244, 214, 202);
    height: 30px;
}
 .adContainer > * {
    font-weight: bold;
 }

 .adContainer a {
    font-weight: normal;
 }

 .text {
    /* margin: 10px; */
    margin: 0px 10px;
    /* margin: 10px 4px 3px 0px; */
    /* padding: ; */
 }


 /* headerContainer */
 .headerContainer{
    /* border: solid blue; */
    display: flex;
    justify-content: space-between;
    align-items: center;

 }
  .search , .subs{
    /* border: solid red; */
    margin-left: 8px;
 }
 .headerContainer > * {
    /* border: solid green; */


 }
 .logo{
    height: 30px;
 }
 .rightBar{
    display: flex;
    

 }
 .shop{
    display: flex;
 }
 /* navContainer */
 .navContainer{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: -18px 0;
    font-weight: bold;

 }
 .navContainer > * {
    /* border: 2px solid blue; */
 }
/* mini */
.mini{
    /* border: solid green; */
    display: flex; 
    margin-top: -8px;
    font-size: 10px;
}
.mini > * {
    /* border: solid purple; */
    margin: 10px;
}


/* h1 */
h1{
    display: flex;
    justify-content: center;
}


/*  photoContainer */
.photoContainer{
    /* border: solid green; */
      
}
.photoRow{
    /* border: solid blue; */
    display: flex;
    justify-content: center;
    margin: 30px 0;
}
.photoContainer img {
    width: 200px;
    height: 200px;
}
.photoInfo{
    /* border:  2px solid red; */
    margin: 0 8px;
    text-align: center;
    font-weight: bold;
    
}
.photoInfo:hover {
    cursor: pointer;

}
.photoInfo p {
    opacity: .7;
    /* border: 2px solid red; */
    margin: 0;
}
.photoInfo p:hover{
    opacity: 1;
}
/* buttonContainer */
.buttonContainer{
    /* border: 2px solid purple; */
    display: flex;
    margin: 0 20px;
    margin-top: 30px;
    
}
.buttonContainer button {
    background-color: white;
    font-weight: bold;
    /* border: 1px solid black; */
}
.filter{
    width: 150px;
    height: 50px;
}
.feature{
    width: 240px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 8px;
}
/* imageContainer */
.imageContainer{
    /* border: solid red; */

}
.imageRow{
    /* border: solid blue; */
    margin: 10px 0 ;
    display: flex;
    justify-content: space-evenly;
}
.imageRow img {
    width: 190px;
}
.imageInfo{
    /* border: solid black; */
     text-align: center;
     
}
.money{
    font-weight: bold;
}
.imageInfo * {
    margin: 3px ;
}
.imageTitle , .prints {
    opacity: .7;

}
/* paragraphContainer */
h2{
    /* text-align: center; */
}
.paragraph{
    text-align: center;
}
.paragraph span {
    text-decoration: underline;
    font-weight: bold;
}
/* optionsContainer */
.optionsContainer div{
    display: flex;
    justify-content: space-between;
    font-weight: bold;   
}
/* wdith adjustment */
.paragraph , .optionsContainer , .mediaContainer , .BBB , .footer , .locator{ 
    border: solid red;
    margin: 0 15px;
}
/* mediaContainer */
.mediaContainer{
    /* border: solid red; */
}
.mediaContainer p{
    /* border: solid rgb(133, 85, 85); */
    display: flex;
    align-items: center;
    color: rgb(114, 112, 112);
}
/* bbbImg */
.BBB{
    margin-top: 20px ;
}

/*choices  */
.choices{
    /* border: solid red; */
    display: flex;
    justify-content: space-between;
    width: 53%;
}
.choices div{
    /* border: solid rgb(98, 82, 82); */
    /* display: flex; */
    /* justify-content: space-between; */
    /* width: 28%; */   
}

.email{
    /* border: solid red; */
    height: 4vh;
    width: 400px;
    margin: 18px 0;
}
.terms{
    /* border: solid red; */
    display: flex;
    align-items:baseline;
    font-size: smaller;

}
.terms span{
    text-decoration: underline;
}
/* sign up */
.signUpTwo{
    /* border: solid blue; */
    width: 100%;
    height: 6vh;
    color: white;
    background-color: black;
    font-weight: bold;
    border: none;
    margin: 30px 0;
}
/* store */
.locator{
    display: flex;
    align-items: center;
    margin-top: 3%;
    margin-bottom: 3%;
}
/* rights */
.rights{ 
    background-color: black;
    color: white;
    height: 9vh;
    padding: 1.5px;
    text-align: center;
    font-size: .8em;
    
    

}










